/*-----------O NAS----------------*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#o_nas{
    display: flex;
    flex-direction: column;
    align-items: self;
    font-size: 42px;
    margin: auto;
    background-color: transparent;
    color: white;
    width: 60%;
    height: fit-content;
    border-radius: 2%;
}

#o_nas h1{
    font-size: 1em;
    margin: 10px;
}

#o_nas article {
    margin: 10px auto;
    width: 100%;
    align-content: center;
    height: min-content;   
}

#o_nas article h2{
    margin-bottom: 10px;
    font-size: 0.75em;
}

#o_nas article p {
    font-size: 0.6em;
    width: 100%;   
}

#animContainer {
    width: 400px;
    height: 400px;
    margin: 10px auto;
    align-items: center;
}

@media screen and (max-width: 720px) {

}
@media screen and (max-width: 500px) {
    #o_nas h1{
        font-size: 0.75em;
        margin: 10px;
    }

    #o_nas article h2{
        margin-bottom: 10px;
        font-size: 0.50em;
    }
    
    #o_nas article p {
        font-size: 0.40em;
        width: 50vw;   
    }
}